.sym-alert-exist-card {
  width: 40px;
  height: 38px;
}

.sym-apple-store {
  width: 148px;
  height: 48px;
}

.sym-arrow {
  width: 8px;
  height: 15px;
}

.sym-cross {
  width: 18px;
  height: 18px;
}

.sym-delivery-address {
  width: 16px;
  height: 20px;
}

.sym-delivery-home {
  width: 20px;
  height: 20px;
}

.sym-delivery-other {
  width: 20px;
  height: 20px;
}

.sym-delivery-work {
  width: 20px;
  height: 18px;
}

.sym-google-play {
  width: 147px;
  height: 48px;
}

.sym-info {
  width: 20px;
  height: 20px;
}

.sym-ok {
  width: 70px;
  height: 70px;
}

.sym-qr_thx-page {
  width: 100px;
  height: 100px;
}

