/* Форма - попап
------------------------------ */

.#{$prefix}form {

    &-popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //width: 100%;
        //height: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($colorDark, 0.75);
        transition: opacity $transitionSpeed, visibility $transitionSpeed;
        z-index: 1000;

        @media (max-width: $screenS) {
            padding: 50px 0 0 0;
            align-items: flex-end;

            top: -70px;
            padding-bottom: 70px;
            transform: translateY(70px);
            box-shadow: inset 0px -70px 0px 0px #fff;
        }

        &-inner {
            position: relative;
            min-width: 435px;
            max-width: 570px;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            //overflow: hidden;
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

            @media (min-width: $screenS + 1) {
                overflow: hidden;
            }

            @media (max-width: $screenS) {
                box-shadow: none;
                min-width: 0;
                width: 100%;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                transform: translateY(100%);
                transition: transform $transitionSpeed;
            }
        }

        &--wide &-inner {
            @media (min-width: $screenS + 1) {
                max-width: 1160px;
                width: 100%;
            }
        }

        &--wrapper {
            overflow: hidden;
            max-height: 100%;
            display: flex;
            flex-direction: column;
        }

        &__header {
            padding: 13px 47px 16px 18px;
            font-size: 20px;
            line-height: 26px;
            border-bottom: 1px solid $colorGreyLight2;

            @media (max-width: $screenS) {
                font-size: 18px;
                line-height: 20px;
                padding: 16px 16px 18px 16px;
            }

            svg {
                display: inline-block;
                vertical-align: middle;
                margin: -4px 12px 0 0;
                fill: $colorGrey;

                [data-name="error"] & {
                    fill: $colorError;
                }
            }
        }

        &--wide &__header {
            @media (min-width: $screenS + 1) {
                text-align: center;
                font-size: 36px;
                line-height: 42px;
                font-weight: bold;
                padding: 26px 50px 31px 50px;
            }
        }

        &__container {
            padding: 0 50px 0 50px;
            overflow-x: hidden;
            overflow-y: auto;

            @media (max-width: $screenS) {
                padding: 0 16px 0 16px;
                -webkit-overflow-scrolling: touch;
            }
        }

        &--wide &__container {
            transform: translate3d(0, 0, 0);
        }

        &__content {
            max-width: 964px;
            margin: auto;
            padding: 32px 0 32px 0;

            @media (max-width: $screenS) {
                padding: 25px 0 25px 0;
            }
        }

        &--wide &__content {
            @media (min-width: $screenS + 1) {
                padding: 53px 0 32px 0;
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            padding: 0 50px 50px 50px;

            @media (max-width: $screenS) {
                flex-direction: column;
                padding: 0 16px 0 16px;
                text-align: center;

                > *:first-child {
                    order: 1;
                }
            }
        }

        &__close {
            width: 40px;
            height: 40px;
            padding: 11px;
            position: absolute;
            top: 8px;
            right: 6px;
            cursor: pointer;
            fill: $colorGreyDark;
            transition: fill $transitionSpeed;

            @media (max-width: $screenS) {
                top: -43px;
                right: 3px;
                fill: #fff;
                opacity: 0.5;
            }

            ._desktop &:hover {
                fill: $colorDark;
            }

            svg {
                width: 18px;
                height: 18px;
                pointer-events: none;

                @media (max-width: $screenS) {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &--wide &__close {
            @media (min-width: $screenS + 1) {
                top: 29px;
                right: 21px;
                padding: 9px;

                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    &-popup-inner {
        transform: translateY(0);
    }
}
