/* Форма - контрол - инпут
------------------------------ */

.#{$prefix}form-control {

    &--input {
        padding-top: 16px;

        label {
            display: block;
        }

        .#{$prefix}placeholder,
        input {
            font-family: inherit;
            width: 100%;
            height: 35px;
            padding: 0 54px 7px 18px;
            font-size: 18px;
            line-height: 26px;
            background: none;
            border: none;
            border-radius: 0;
            border-bottom: 2px solid $colorGreyLight2;
            transition: border-bottom $transitionSpeed;
            -webkit-appearance: none;
            outline: none;

            @media (max-width: $screenS) {
                font-size: 16px;
                line-height: 24px;
                padding: 0 44px 5px 16px;
            }

            &::-webkit-input-placeholder {color: transparent; transition: color $transitionSpeed; user-select: none;}
            &::-moz-placeholder {color: transparent; transition: color $transitionSpeed; user-select: none;}
            &:-moz-placeholder {color: transparent; transition: color $transitionSpeed; user-select: none;}
            &:-ms-input-placeholder {color: transparent; transition: color $transitionSpeed; user-select: none;}

            &:focus {
                &::-webkit-input-placeholder {color: $colorGreyDark; user-select: none;}
                &::-moz-placeholder {color: $colorGreyDark; user-select: none;}
                &:-moz-placeholder {color: $colorGreyDark; user-select: none;}
                &:-ms-input-placeholder {color: $colorGreyDark; user-select: none;}
            }
        }

        ._desktop & label:hover,
        &._hover {
            input {
                border-color: $colorGrey;
            }
        }

        ._desktop & label:hover input:focus,
        & label input:focus,
        &._focus input:focus {
            border-color: $colorDark;
        }

        &._filled {

        }

        &._valid {
            label {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 24px;
                    right: 18px;
                    width: 18px;
                    height: 13px;
                    background: url('../svg/completed.svg') no-repeat center center;
                }
            }
        }

        &._error {

            input {
                border-color: $colorError !important;
            }

            &._filled {
                label {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 24px;
                        right: 18px;
                        width: 18px;
                        height: 18px;
                        background: url('../svg/error.svg') no-repeat center center;

                        @media (max-width: $screenS) {
                            top: 23px;
                            right: 16px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
        }
    }

    &--input._error._filled &__error-clear {
        display: block;
        position: absolute;
        top: 16px;
        right: 6px;
        width: 40px;
        height: 35px;
        cursor: pointer;

        @media (max-width: $screenS) {
            top: 16px;
            right: 0;
            width: 40px;
            height: 35px;
        }
    }

    &--input._readonly {
        pointer-events: none;
    }

    &--input &__label {
        position: absolute;
        top: 16px;
        left: 18px;
        font-size: 18px;
        line-height: 26px;
        color: $colorGreyDark;
        transition: all $transitionSpeed;
        white-space: nowrap;
        pointer-events: none;

        @media (max-width: $screenS) {
            top: 18px;
            left: 16px;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &--input._filled &__label,
    &--input input:focus ~ &__label {
        top: -3px;
        left: 0;
        font-size: 14px;
        line-height: 16px;
    }

    .#{$prefix}placeholder {
        position: absolute;
        pointer-events: none;
        opacity: 0.4;
        visibility: hidden;
        transition: visibility $transitionSpeed;
        z-index: -1;
        width: calc(100% - 54px);
        overflow: hidden;



        @media (max-width: $screenS) {
            line-height: 28px;
        }

        &::-webkit-input-placeholder {color: $colorGreyDark; transition: color $transitionSpeed; user-select: none;}
        &::-moz-placeholder {color: $colorGreyDark; transition: color $transitionSpeed; user-select: none;}
        &:-moz-placeholder {color: $colorGreyDark; transition: color $transitionSpeed; user-select: none;}
        &:-ms-input-placeholder {color: $colorGreyDark; transition: color $transitionSpeed; user-select: none;}

        span:first-child {
            visibility: hidden;
        }
    }

    &--input._filled {
        .#{$prefix}placeholder {
            visibility: visible;
            transition: visibility 0s;
        }
    }
}
